<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST - WebDaw</title>
    <link rel="stylesheet" href="../../src/css/import.css">
    <script src="../../VstWeb/lib/jszip.min.js"></script>
</head>

<body>
    <div id="notes-container"></div>
    <div id="vst-web-config-container"></div>
    <div id="vst-web-hidden-container" class="hidden"></div>
    <script type="module">
        import { NotesCreator } from "./NotesCreator.js";
        const noteCreator = new NotesCreator();
        noteCreator.genHtml(document.getElementById("notes-container"));
        noteCreator.genNotes();
        noteCreator.registerEvents();
        window.mainMelodyCreator = noteCreator;

    </script>
</body>

</html>